* {
    margin: 0;
    padding: 0;
   
    
   


}

body {
    background-color: white;
    /* padding: 29px 361px 1px 219.75px; */
    align-items: center;
    max-width: 1920px;
    }


.nav-bar  {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    text-align: center;
    width: 1920px;
    margin-left: 60px;
   
    
}
.logomain {
    padding: 29px 361px 1px 219.75px;
    width: 191px;
    height: 34px;
}



.nav-bar ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    /* justify-content: space-between; */
    gap: 51px;
    
    padding-top: 34.5px;
    padding-right: 115.5px;
    
    /* font-size: 18px; */
}     

.nav-bar a {
    text-decoration: none;
    color: #4F9CF9;
    font-family: 'DM Sans', sans-serif; 
    font-size: 18px;
    line-height: 23px;
    display: flex;
    
}

.fa-solid, .fas {
   
    display: flex;
    padding-left: 10px;
    padding-top: 3px;
}



.login a {
color:  #043873;
height: 23px;
width: 46px;
/* left: 40px; */
/* top: 18.5px; */

text-align: center;

}

.login {
    background-color: #FFE492;
    padding:16px, 40px;
    gap: 10px;
    width: 126px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: -16px;

}

.free img {
    width: 10px;
    height: 10px;
    padding: 0;
}
.free span {
    padding-left: 10px;
    
}

.free {
    background-color: #4F9CF9;
    width:227px;
    /* height: 60px; */
    padding: 16px 24px;
    gap: 10px;
    border-radius: 8px;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

.login-free a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    


}
    .free a {
        color: white;
        letter-spacing: -0.02em;
    }

    .login-free {
        padding-right: 219.75px;
        gap: 24px;
    }

    @media (max-width:800px) {
        .nav-bar { display: flex;
            flex-direction: column;
            
        }
    }
    /* ---------  Natia Purtskhvanidze ---------*/

    

    
    
       